/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =======================================================================
   Author's custom styles
=================================================================== */

/*** GUIDE TO STYLES, in order listed below ***
 - structure (flex + wraps)
 - widget specifics
    - infographics
    - horizontal-scrolling timeline
    - matching tool
    - final plea
 - images
 - typography
 - css animations
 - color


/* GENERAL — structure */

body {
  scroll-behavior: smooth;
  background-color: #EFEEE2;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 1.75em;
  color: #151E3D;
}

main {
  padding: 0 inherit;
  scroll-snap-type: y mandatory;
}

.content-section {
  margin: 0 auto;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column.container {
  flex-direction: column;
}

.wideset {
  justify-content: space-between;
}

.full-width {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  margin: 0;
}

.item {
  box-sizing: border-box;
  padding: 2.5rem;
  margin: auto;
}

.text {
  max-width: 60rem;
}

.img-item {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

.item-1-3 {
  width: 30%;
}

.item-2-3 {
  width: 70%;
}

.item-1-2 {
  width: 50%;
}

.widget {
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 1;
  /* transition: height 2s ease-out 1s, opacity 3s ease-out .5s, padding 2s ease-out .5s; */
}

.widget.horizontal-scrolling {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 5rem 0 0;
  padding: .5em 5rem .5rem 0;
  overflow-x: auto;
  background-color: #EF7240;
  scroll-snap-type: x proximity;
}

.left-align.text-item {
  margin-left: 2.5rem;
}

.expanding.widget {
  padding: 4em;
  height: 40vh;
}

.padding-bottom {
  padding-bottom: 5rem;
}

.full-height {
  min-height: 100vh;
}

footer.page-footer {
  width: 100vw;
  height: auto;
}

/* WIDGETS SPECIFICS — widget trigger (? to be deleted ?) */

.widget-trigger {
  font-weight: bolder;
  display: block;
  width: 100%;
  position: sticky;
}

.widget-trigger:focus,
.widget-trigger:hover {
  font-weight: 900;
}

/* .widget-trigger:hover + .widget,
.widget-trigger:focus + .widget,
.widget:hover,
.widget:focus {
    height: auto;
    padding: 4em;
    opacity: 1;
    transition: opacity 2s ease-in-out .25s;
} */


/* WIDGET SPECIFICS — timeline widget */

.horizontal-scrolling-section::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll {
  box-sizing: border-box;
  max-width: 400px;
  min-width: 25em;
  margin: .5rem 2rem;
  padding: 2rem;
  scroll-snap-align: center;
}


/* WIDGET SPECIFICS — matching tool */

.card-matching {
  padding: 2.5rem;
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  height: 180px;
  margin: .5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.unselected img {
  opacity: 0;
}

.card img {
  opacity: 1;
  width: 100%;
}

.card.unselected {
  background-color: #F4E5B4;
  color: #151E3D;
  border-radius: 30px;
  background-image: url('../img/matching-heart-bg.png');
}


/* GENERAL — images */

.hero {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #161E39;
  color: #C8C9C1;
  background-image: url('../img/thank-you-for-your-concern-floral-header.svg');
  background-position: center center;
  background-attachment: fixed;
}

.timeline-photo {
  max-width: 350px;
  max-height: 250px;
  margin: 1rem;
}

.fixed-widget img {
  width: 100%;
}


/* GENERAL — color */

.dark-bg {
  background-color: #161E39;
  color: #EFEEE3;
}

.white-bg {
  background-color: white;
}

.orange-bg {
  background-color: #EF723F;
}

.orange-bg p {
  color: #020306;
}

/* GENERAL — typography */

h1, h2, h4 {
  font-family: 'Coustard', serif;
  line-height: 1.15em;
  text-align: center;
}

h1 {
  font-size: 8rem;
  text-shadow: 0 0 20px #161E39;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

h2.section-start {
  margin-top: 5em;
}

h2.left-align {
  text-align: left;
  margin-top: 2.5rem;
}

h3,
h5,
button,
footer p {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.25em;
}

h3, h4 {
  font-size: 2rem;
}

h4 {
  letter-spacing: .1em;
  line-height: 1em;
  padding: .5rem 0;
  margin: .5rem 0;
  color: #EFEEE3;
}

h5, button {
  font-size: 1.1rem;
  font-weight: 900;
  margin-top: 0;
}

.dark-bg a {
  color: #E9FEE8;
  text-decoration: none;
}

a {
  display: inline-block;
  padding: 0;
}

p {
  padding-bottom: 2rem;
}

p.image-description {
  font-size: .9rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #2E5490;
  align-self: flex-end;
}

blockquote p,
.highlight p {
  font-size: 2rem;
  line-height: 1.75em;
}

blockquote p {
  color: #265495;
  margin-bottom: .15rem;
}

blockquote footer {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.75em;
}

blockquote footer::before {
  content: "\2014";
}

blockquote {
  padding: 3rem 5rem 5rem 7rem;
  margin: 0;
  background-image: url(../img/quote-marks.svg), url(../img/close-quote-marks.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, center right;
  background-size: 120px, 120px;
}

p.timeline-descriptors {
  /* line-height: 1.25em; */
  font-size: 1rem;
  line-height: 1.5em;
  color: #161E39;
  padding: 1em 0;
  margin: .5em 0;
}

#matching-tool h3 {
  margin-top: 1em;
  color: #151E3D;
}

button {
  background-color: #EF7240;
  color: #E9FEE8;
  margin: 2.5rem 0;
  padding: 1em 2em;
  border: 0;
  border-radius: 1em;
  cursor: pointer;
}

footer p {
  font-size: .8rem;
  padding: 0;
  margin: 0;
}

/* GENERAL — css animations */

.moving-arrow {
  content: "";
  position: absolute;
  bottom: 2.5rem;
  border-left: 15px solid #C8C8C5;
  border-bottom: 15px solid #C8C8C5;
  box-shadow: -5px 5px 5px #161E39;
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0 2.5rem 0;
  animation-name: arrows;
  animation-duration: 5s;
  animation-timing-function: initial;
  animation-iteration-count: infinite;
  animation-delay: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}

.right.moving-arrow {
  border-left: 15px solid #161E39;
  border-bottom: 15px solid #161E39;
  box-shadow: -5px 5px 5px #8C3560;
  animation-name: arrows-right;
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

@keyframes arrows {
  0% {
    transform: rotate(-45deg) translateY(0)
    translateX(0);
  }
  90% {
    transform: rotate(-45deg) translateY(1rem) translateX(-1rem);
    opacity: 90%;
  }
  100% {
    transform: rotate(-45deg) translateY(2rem) translateX(-2rem);
    opacity: 0;
  }
}

@keyframes arrows-right {
  0% {
    transform: rotate(225deg) translateY(0)
    translateX(0);
  }
  90% {
    transform: rotate(225deg) translateY(1rem) translateX(-1rem);
    opacity: 90%;
  }
  100% {
    transform: rotate(225deg) translateY(2rem) translateX(-2rem);
    opacity: 0;
  }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* MEDIA QUERIES */

/* laptops and large tablets */
@media all and (max-width: 1366px) {

.center-wrap,
.side-info {
  width: 60vw;
  max-width: 60vw;
}

.card {
  width: 150px;
  height: 150px;
}

.card-matching {
  max-width: 700px;
  margin: 5rem auto;
  padding: 0 auto;
}

.text {
  padding: 0;
}

.side-by-side {
  padding: 2rem;
  margin: 0 auto;
}

button {
  float: right;
  margin: 0;
}

 .hidden-l {
   visibility: hidden;
 }

 .hidden-s {
   visibility: visible;
 }

}


/* large tablets */
@media all and (max-width: 900px) {

  .hero {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    position: relative;
  }



  .item-1-3, .item-2-3 {
    width: 100%;
  }

    /* TYPOGRAPHY */

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2.5em;
  }

  body {
    font-size: 1rem;
    line-height: 1.75em;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .left-align {
    text-align: center;
  }

  .item {
    padding: 1rem 0;
    margin: 0 auto;
  }

  .fixed-widget.container {
    padding: 1rem auto;
  }

  /* MATCHING TOOL */

  .card {
    width: 125px;
    height: 125px;
  }

}

/* large smartphones & tablets */
@media all and (max-width: 710px) {

  .center-wrap,
  .side-info,
  .text {
    margin: 1rem;
    max-width: 98vw;
    padding: 1rem;
  }

  .side-by-side {
    padding: 0;
    margin: 1rem 0;
  }

  .card {
    width: 100px;
    height: 100px;
  }

  .card-matching {
    width: 500px;
    max-width: 98vw;
    margin: 0 0 2rem 0;
    padding: 0;
  }

}


/* smartphones */
@media all and (max-width: 630px) {


  .moving-arrow {
    border: 0;
    border-width: 0;
    display: none;
    padding: 0;
    margin: 0;
  }

  .hero {
    height: auto;
  }

}

/* smartphones */
@media all and (max-width: 400px) {

  /* body{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .container.card-matching {
    width: 300px;
    height: auto;
  } */

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
