<!doctype html>
<html class="no-js" lang="eng">

<head>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
  <title>Thank You For Your Concern — digital wireframe</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Coustard:900|Lora|Raleway&display=swap" rel="stylesheet">


  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header>
  </header>


  <div class='hero container column'>
    <h1 class='item item-2-3'>Thank you for your concern.</h1>
    <div>
      <div class='moving-arrow'></div>
    </div>
  </div>


  <main>

    <div class='content-section dark-bg container column'>
      <div class='text item highlight'>
        <p>
          Thank you for coming here. It means a lot that you came. We know that your feelings about this are very serious and honest, and that you are coming from a place of deep care for women and children. We understand that for you this is a calling from God.
        </p>
        <p>
          We’ve listened and read a lot, and we hear what you have to say. We don’t want to yell or argue. Instead we wanted to share this way, calmly, and ask you to please try to hear us out until the end. We don’t claim to speak for all of us in our situation, but we speak for many, and we seek compassion and empathy for all.
        </p>
      </div>
      <div>
        <div class='moving-arrow'></div>
      </div>
    </div>


    <div id='care-for-women' class='white-bg content-section container'>
      <div class='text item'>
        <h2>You care about us</h2>
        <blockquote>
          <p>
            We don’t pay enough attention to those things that can be catastrophic for women.
          </p>
          <footer>
              Barbara Levy, VP of Health Policy and Advocacy at the American College of Obstetricians and Gynecologists.<sup>10</sup>
          </footer>
        </blockquote>
        <p>
          The United States has the highest rising maternal mortality rate of any of the developed nations by far, with American mothers nearly three to seven times more likely to die from causes related to childbirth than other developed nations.<sup>10</sup> Of the Title V program supporting maternal & child health, 78% goes to infants and special needs children, and 6% goes to mothers. Medicaid, while the ACA still stands, covers mothers for 60 days postpartum, and infants one year. In some cases students are allowed to complete their training as maternal-fetal specialists without having even been to the delivery room, such is the focus placed on the child.<sup>9</sup>
        </p>
      </div>
    </div>

    <div class='white-bg widget content-section'>
      <div class='container'>
        <div id="slider">
          <infographic-slider
              tag="div"
              :name="transitionName"
              class="slides-group">
            </infographic-slider>
            <div
              class="slider-btn btn-prev"
              aria-label="Previous slide"
              @click="slide(-1)">
              &#10094;
            </div>
            <div
              class="slider-btn btn-next"
              aria-label="Next slide"
              @click="slide(1)">
              &#10095;
            </div>
          </div>
        <div class='text item item-1-3'>
          <p>
            In the U.S., 45% of pregnancies each year are unintended (27% wanted later, and 18% unwanted).<sup>5</sup> 75% of the reasons for not wanting to be pregnant included concern for or responsibility to other individuals; the inability to afford raising a child; and the belief that having a baby would interfere with work, school or the ability to care for dependents. 50% don’t want to be pregnant due to not wanting to raise a child alone or having problems with husband or partner.<sup>5</sup> Availability of birth control and education lower rates of abortion, and cause abortions that do happen to happen early, and safely.
          </p>
        </div>
      </div>
      <div class='text item'>
        <p>
          Rates of abortion are nearly equal in countries where the practice is outlawed and in countries where it is allowed (29% vs. 27%, respectively).<sup>7</sup> Legal abortion has exponentially increased the safety of the practice through quality control and because people have them earlier (25% were 13 weeks or later in 1970, compared with 12% today). When abortion is outlawed, mothers are increasingly jailed and investigated for natural miscarriages, and maternal mortality rate rises as much as 8-11% due to things like refusal of life-saving medication in case it harms the fetus, not stopping ectopic pregnancies, and increased suicide rates especially in the young.<sup>6</sup>
        </p>
      </div>
    </div>


    <div id='care-for-children' class='content-section widget'>

      <div class='text item'>
        <h2>You care about our children</h2>
        <p class='highlight'>
          75% of us are at or below the poverty line. A majority of us make this hard choice because we cannot afford financially to have another child or children. 60% of us already have another child. (Percentage of babies given up for adoption that stay in orphanages?)
        </p>
      </div>

      <div class='container white-bg'>
        <img
          src="img/intended-pregnancies-us-infographic.jpg"
          alt="Graphic showing 55% of pregnancies in the U.S. are intended vs. 45% unintended."
          class='img-item item-1-2'/>
      </div>

    </div>


    <div id='matchingTool' class='content-section wideset-container dark-bg'>
      <div class='text item item-1-3'>
        <h2 class='left-align'>Two Sides</h2>
        <p>
          Many hard rumors and prejudices cloud this debate. Match each heartfelt concern (orange) with its corresponding response (blue).
        </p>
        <h5
          v-bind:matching-message='matchingMessage'>
          {{ matchingMessage }}
        </h5>
        <button
          type="button"
          id='shuffleButton'
          v-on:click='window.location.reload(true)'>
          Refresh
        </button>
      </div>

      <div class='card-matching item item-1-2'>
        <single-card
          v-for='(card, index, text, selected) in cards'
          v-bind:card-face='card.cardFace'
          v-bind:index='card.index'
          v-beind:text='card.text'
          v-bind:class='{
            myth: card.cardFace.toLowerCase().includes("myth"),
            unselected: card.selected === "unselected",
            matched: card.selected === "matched",
            winning: card.winning === true
          }'
          v-on:click.native='displayCard(card)'
        ></single-card>
      </div>
    </div>


    <div id='timelineApp' class='orange-bg content-section'>
      <div class='wideset-container'>
        <div class='item text item-2-3'>
          <h2 class='left-align'>A symptom of today?</h2>
          <h5 class='left-align'>
            The practice of abortion has been documented for over 4,000 years.
            </br><em>(Scroll to the right)</em>
          </h5>
        </div>
        <div class='img-item item'>
          <div class='right moving-arrow'></div>
        </div>
      </div>

      <div class='container widget horizontal-scrolling' id='timeline-widget'>
        <timeline-entry
          v-for='event in events'
          v-bind:timeline-photo='event.timelinePhoto'
          v-bind:year='event.year'
          v-bind:text='event.text'
          v-bind:fact-cite='event.factCite'
        ></timeline-entry>
      </div>
    </div>


    <div id='final-plea' class='content-section'>
      <div class='text item'>
        <h2>In conclusion</h2>
        <h5 class='highlight'>
          A final ask, featuring voices and words of people affected by this debate.
        </h5>
      </div>
      <div class='container padding-bottom'>
        <img
          src="img/plea-to-critics-thumbnail.jpg"
          alt="Video plea to critics — Dear stranger"
          class='img-item item-2-3'/>
        <!-- <iframe src="https://player.vimeo.com/video/349783181" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
      </div>
    </div>
  </main>

  <footer class='dark-bg container full-width page-footer'>
    <a href='#' class='item'>
      <p>Bibliography</p>
    </a>
    <p>

    </p>
  </footer>

  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script src="https://kit.fontawesome.com/f81eb636bb.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
