<!doctype html>
<html class="no-js" lang="eng">

<head>
  <meta charset="utf-8">
  <title>Thank You For Your Concern — digital wireframe</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Coustard:900|Lora|Raleway&display=swap" rel="stylesheet">


  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <header>
  </header>

  <div class='hero container column full-width'>
    <h1 class='center-wrap'>Thank you for your concern.</h1>
    <div class='down-arrow'></div>
  </div>

  <main id='widgetApp' class='y mandatory-scroll-snapping'>

    <div class='center-wrap highlight'>
      <p>
        Thank you for coming here. It means a lot that you came. We know that you have truly serious and deep feelings about this and that you are coming from a place of care for women and children. We know that for you this is a calling from God.
      </p>
      <p>
        We’ve listened and read a lot, and we hear what you have to say. We have some responses. We don’t want to yell or argue. Instead we wanted to share this way, calmly, and ask you to please try to hear us out until the end. We don’t claim to speak for all of us in our situation, but we do speak for many, and we seek compassion and empathy for all.
      </p>
    </div>

    <div>
      <a class='center-wrap'>
        <h2>You care about us</h2>
      </a>
      <div class='fixed-widget'>
        <picture><img src="img/house-infographic-sketchy.jpg" alt="Graphic showing 55% of pregnancies in the U.S. are intended vs. 45% unintended." /></picture>
      </div>
      <div class='center-wrap'>
        <blockquote>
          <p>
            We don’t pay enough attention to those things that can be catastrophic for women.
          </p>
          <footer>
              Barbara Levy, VP of Health Policy and Advocacy at the American College of Obstetricians and Gynecologists.<sup>10</sup>
          </footer>
        </blockquote>
        <p>
          The United States has the highest rising maternal mortality rate of any of the developed nations by far, with American mothers nearly three to seven times more likely to die from causes related to childbirth than other developed nations.<sup>10</sup> Of the Title V program supporting maternal & child health, 78% goes to infants and special needs children, and 6% goes to mothers. Medicaid, while the ACA still stands, covers mothers for 60 days postpartum, and infants one year. In some cases students are allowed to complete their training as maternal-fetal specialists without having even been to the delivery room, such is the focus placed on the child.<sup>9</sup>
        </p>
        <p>
          In the U.S., 45% of pregnancies each year are unintended (27% wanted later, and 18% unwanted).<sup>5</sup> 75% of the reasons for not wanting to be pregnant included concern for or responsibility to other individuals; the inability to afford raising a child; and the belief that having a baby would interfere with work, school or the ability to care for dependents. 50% don’t want to be pregnant due to not wanting to raise a child alone or having problems with husband or partner.<sup>5</sup> Availability of birth control and education lower rates of abortion, and cause abortions that do happen to happen early, and safely.
        </p>
        <p>
          Rates of abortion are nearly equal in countries where the practice is outlawed and in countries where it is allowed (29% vs. 27%, respectively).<sup>7</sup> Legal abortion has exponentially increased the safety of the practice through quality control and because people have them earlier (25% were 13 weeks or later in 1970, compared with 12% today). When abortion is outlawed, mothers are increasingly jailed and investigated for natural miscarriages, and maternal mortality rate rises as much as 8-11% due to things like refusal of life-saving medication in case it harms the fetus, not stopping ectopic pregnancies, and increased suicide rates especially in the young.<sup>6</sup>
        </p>
      </div>
    </div>

    <div id='infographicApp'>
      <a class='center-wrap' id='infographic-trigger'>
        <h2>You care about our children</h2>
      </a>
      <div class='fixed-widget' id='infographicWidget'>
        <h2>
          This will be an infographic.
          <br />(placeholder)
        </h2>
      </div>
      <p class='center-wrap highlight'>
        75% of us are at or below the poverty line. A majority of us make this hard choice because we cannot afford financially to have another child or children. 60% of us already have another child. (Percentage of babies given up for adoption that stay in orphanages?)
      </p>
    </div>

    <div id='gameApp'>
      <h3 class='center-wrap'>Match the facts.</h3>

      <div class='fixed-widget container column center-wrap'>
        <div class='container card-game'>
          <single-card
            v-for='(card, index, selected) in cards'
            v-bind:text='card.text'
            v-bind:index='card.index'
            v-bind:class='{
              unselected: card.selected === "unselected",
              matched: card.selected === "matched",
              winning: card.winning === true,
              mismatch: card.text ==="X",
              red: card.color === "red",
              orange: card.color === "orange",
              yellow: card.color === "yellow",
              green: card.color === "green",
              blue: card.color === "blue",
              purple: card.color === "purple",
              black: card.color === "black",
              brown: card.color === "brown"
            }'
            v-on:click.native='displayCard(card)'
          ></single-card>
        </div>
        <button type="button"
                id='shuffleButton'
                v-on:click='window.location.reload(true)'>
                Refresh
        </button>
      </div>
    </div>

    <div id='timelineApp'>
      <a class='widget-trigger center-wrap' id='timeline-trigger'>
        <h2>A symptom of our times?</h2>
      </a>
      <div class='widget container horizontal-scrolling-section' id='timeline-widget'>
        <timeline-entry
          v-for='event in events'
          v-bind:timeline-photo='event.timelinePhoto'
          v-bind:year='event.year'
          v-bind:text='event.text'
        ></timeline-entry>
      </div>
      <p class='center-wrap highlight'>
        Abortion has been well documented for over 4,000 years. It was commonly legal until the ‘quickening’, when a woman could feel the child moving in the womb, and was commonly  practiced by midwives. Legality was challenged for political reasons, for the business of pharmacology, and for control over women.
      </p>
    </div>

    <div>
      <a class='center-wrap' id='story-trigger'>
        <h2>A personal plea</h2>
      </a>
      <p class='center-wrap highlight'>
        Lastly we have a few remaining things we'd like to say, in our own voices. We hope that you will take the time to try to really listen.
      </p>
      <div class='expanding-widget container' id='storyWidget'>
        <h2><a href='#' class='link-dk-bg'><i class="fas fa-play icon-large"></i></a></h2>
      </div>
    </div>


  </main>

  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script src="https://kit.fontawesome.com/f81eb636bb.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
